<?xml version="1.0" encoding="utf-8" ?>
<cssfiles>
  <file cssvpath="/App_Themes/toolbar.css" imagebasevpath="/App_Themes/">none</file>
  <file cssvpath="/ClientScript/fancybox/jquery.fancybox.css" imagebasevpath="/ClientScript/fancybox/">none</file>
  <!-- <file>/Data/Sites/1/skins/default/css/core.min.css</file>
  <file>/Data/Sites/1/skins/default/css/main.min.css</file>  -->
</cssfiles>