section#about-5.kv-section
	.container
		.caption
			.title Công nghệ - Sản xuất
		.row
			.col-lg-6
				.item
					.img
						img(src="./assets/about/i-4.png", alt="")
					.content
						.title Công nghệ sản xuất được chuyên gia kỹ thuật của Unilever tư vấn
						.desc
							p Hiện nay, NETCO có hai nhà máy, một nhà máy tại trụ sở chính ở Biên Hòa – Đồng Nai. Một nhà máy tại Hà Nội. Công suất thiết kế 180.000 tấn bột giặt và 90.000 tấn tẩy rửa lỏng/năm. Cả hai nhà máy được các chuyên gia kỹ thuật hàng đầu đánh giá cao.
							p 
								strong Bột giặt: 
								|Sử dụng công nghệ phun sấy.
							p 
								strong Tẩy rửa lỏng: 
								|Áp dụng phương pháp sản xuất tiên tiến nhất, tuân thủ qui trình nghiêm ngặt chống vi sinh, sử dụng tia cực tím xử lý nước đưa vào sản xuất. Toàn bộ công nghệ sản xuất bột giặt và tẩy rửa lỏng của NETCO được các chuyên gia kỹ thuật của Unilever tư vấn.
			.col-lg-6
				.item
					.img
						img(src="./assets/about/i-5.png", alt="")
					.content
						.title Sản xuất theo quy trình TPM từ Nhật Bản
						.desc
							p Chúng tôi thực hiện chương trình 
								strong TPM 
								|(Quản lý hiệu quả toàn diện). 
								strong TPM 
								|có nguồn gốc từ Nhật bản. Unilever đã truyền đạt lại “cái thần”/cốt lõi của 
								strong TPM 
								|cho NETCO và tổ chức các cuộc huấn luyện về 
								strong TPM 
								|cho đội ngũ chúng tôi. Chúng tôi thực hiện TPM nhằm mục đích giảm thiểu chi phí sản xuất, giảm tốn thất và nâng cao hiệu quả trong sản xuất kinh doanh.