section#about-8.kv-section
	.container
		.caption
			.title Thành tựu đạt được
		.row
			.col-lg-4
				.item
					.img
						img(src="./assets/about/i-7.png", alt="")
					.content
						.title Chứng nhận hàng Việt Nam chất lượng cao
						.desc 2009, 2010, 2011, 2012, 2013
			.col-lg-4
				.item
					.img
						img(src="./assets/about/i-8.png", alt="")
					.content
						.title Chúng nhận Hệ thống quản lý chất lượng
						.desc 2015
			.col-lg-4
				.item
					.img
						img(src="./assets/about/i-9.png", alt="")
					.content
						.title Top 100 thương hiệu - Nhãn hiệu Uy tín
						.desc 2015, 2016
			.col-lg-4
				.item
					.img
						img(src="./assets/about/i-10.png", alt="")
					.content
						.title Sản phẩm dịch vụ xuất sắc
			.col-lg-4
				.item
					.img
						img(src="./assets/about/i-11.png", alt="")
					.content
						.title Giải thưởng Cục thuế tỉnh Đồng Nai
			.col-lg-4
				.item
					.img
						img(src="./assets/about/i-12.png", alt="")
					.content
						.title Top 100 Thương hiệu - Nhãn hiệu Uy tín
