section#about-3.kv-section(setBackground ='../assets/i1-bg.png')
	.container
		.caption
			.title Tầm nhìn - Sứ mệnh
		.list-ellip
			.item
				.img
					img(src="./assets/icons/scope.png", alt="")
				.title Tầm nhìn
				.desc Luôn đặt mục tiêu yêu cầu về chất lượng cực kỳ nghiêm ngặt, trình độ kỹ thuật công nghệ cao đạt yêu cầu khu vực và thế giới.
			.item
				.img
					img(src="./assets/icons/mission.png", alt="")
				.title Sứ mệnh
				.desc Đến với người tiêu dùng bằng tấm lòng của một nhà sản xuất chân chính, luôn giữ chữ “TÍN” với khách hàng qua “CHẤT LƯỢNG & GIÁ CẢ