.about-nav
	// Style for "Rectangle"
	width: 100%
	background-color: #fbf7ef
	&.scolled
		position: fixed
		z-index: 999
		left: 0
		padding-left: 100px
		@media screen and ( max-width: 991px)
			max-width: 80px
			max-height: 60px
			top: 100px
			left: 83%
			padding: 0 !important
			.box-category
				p
					font-size: 0
				.material-icons
					font-size: 30px
					-webkit-animation: sdb07 2s infinite
					animation: sdb07 2s infinite
					opacity: 0
					box-sizing: border-box
			.categroly
				ul
					position: absolute
					top: 0
					right: 100%
					background-color: #f3f3f3
					min-width: 250px
	.categroly
		ul
			max-width: 100%
			display: flex
			list-style: none
			align-items: center
			padding-left: 0
			margin: 0 auto
			li
				position: relative
				margin-left: auto
				.nav-link
					font-size: 13/16*1rem
					color: #666666
					text-transform: uppercase
					font-weight: 600
					padding: .9rem 0
				&:first-child
					margin-left: 0
				&.active
					&::after
						position: absolute
						top: 90%
						left: 50%
						transform: translateX(-50%)
						background-color: $red
						content: ''
						width: 12px
						height: 12px
						border: 2px solid #ffffff
						border-radius: 50%
						background-color: #c10016
					.nav-link
						color: $red
				&:hover
					.nav-link
						color: $red

		@media screen and ( max-width: 1280px)
			ul
				li
					.nav-link
						padding: .9rem
						font-size: .875rem
		@media screen and ( max-width: 1199px)
			ul
				li
					.nav-link
						padding: .5rem
		@media screen and ( max-width: 991.98px)
			ul
				display: none
				width: 100%
				margin: unset
				flex-direction: column
				li
					width: 100%
					text-align: center
					margin: 0
					border-bottom: 1px solid $main-color
#about-1
	padding-bottom: 0
	.caption
		margin-bottom: 80px
	.list-wrapper
		background-image: url('../assets/about/bg-1.png')
		background-repeat: no-repeat
		background-size: cover
		background-position: top
		margin-top: 170px
		padding-bottom: 70px
		.list-ellip
			max-width: 657px
			margin: 0 auto
			display: flex
			align-items: center
			transform: translateY(-40%)

			.item
				display: flex
				align-items: center
				margin-right: auto
				width: 180px
				height: 180px
				border-radius: 50%
				background-color: #0042b4
				background-image: radial-gradient(circle 127px at 1.66% 0.31%, #e5212a 0%, #8b0010 100%)
				.content
					width: 100%
					height: 100%
					padding: 30px 0
					display: flex
					flex-direction: column
					align-items: center
					justify-content: space-around
					.title
						color: #ffffff
						font-size: 14/16*1rem
						font-weight: 700
						font-style: normal
						letter-spacing: normal
						line-height: 24px
						text-align: center
						text-transform: uppercase
					.number
						display: flex
						justify-content: center
						.counter,
						span
							color: #ffffff
							font-size: 40/16*1rem
							font-weight: 900
							font-style: normal
							letter-spacing: normal
							line-height: 24px
							text-align: center
					.brife-content
						padding: 0 30px
						font-size: 14/16*1rem
						color: rgb(255, 255, 255)
						text-align: center
				&:nth-child(2)
					width: 220px
					height: 220px
				&:last-child
					margin-right: 0
		.list-items
			max-width: 1020px
			margin: 0 auto
			.item
				display: flex
				align-items: center
				justify-content: space-between
				margin-bottom: 20px
				.col-left-content
					width: 495px
					padding: 35px
					box-shadow: 6px 8px 50px rgba(0, 0, 0, 0.05)
					border-radius: 50px
					background-color: #ffffff
					.desc
						p
							color: #333333
							font-size: 15/16*1rem
							font-weight: 400
							font-style: normal
							letter-spacing: normal
							line-height: 24px
							text-align: left
							padding-bottom: 20px
				.col-right-image
					.img
						width: 450px
						height: 450px
				&:nth-child(even)
					.col-left-content
						order: 2
						background-color: $red
						.desc
							p
								color: #ffffff
					.col-right-image
						order: 1
						.img
							display: flex
							align-items: center
#about-6
	background-image: url('../assets/about/bg-2.png')
	background-size: 100% 100%
	background-position: center
	background-repeat: no-repeat
	width: 100%
	height: 600px
	.content
		max-width: 430px
		.caption
			.title
				color: #ffffff
				text-align: left
