section#about-7.kv-section
	.container
		.caption
			.title Quan điểm hợp tác
		.row
			.col-lg-7.left
				.content-col-left
					.title Chúng tôi đến với mọi người bằng tấm lòng chân thật, niềm nở và nhiệt tình
					.desc Sản xuất và kinh doanh chất tẩy rửa không chỉ đơn thuần là công việc mà còn là niềm đam mê của NETCO. Chúng tôi tôn trọng và đánh giá cao mọi sự cộng tác chân thành của các đối tác. Vì thế, hiện nay NETCO là đối tác chiến lược của tập đoàn đa quốc gia nổi tiếng Unilever  trong việc sản xuất ra các sản phẩm mang thương hiệu quốc tế như Omo, Surf, Sunlight, Vim, … Chúng tôi sẵn sàng hợp tác với các đối tác trong và ngoài nước để sản xuất và phân phối các sản phẩm chất tẩy rửa trên cơ sở lợi ích của cả hai phía.

			.col-lg-5.right
				.image-col-right
					img(src="./assets/about/i-6.png", alt="")
