section#about-2.kv-section
	.container
		.caption
			.title Lịch sử phát triển
		.single-swiper
			.swiper-container.product
				.swiper-wrapper
					.swiper-slide
						.slide-inner
							.title 1972
							.content
								.desc Việt Nam Tân hóa phẩm công ty đi vào hoạt động với công suất 5.000 tấn sản phẩm bột giặt/năm. 
					.swiper-slide
						.slide-inner
							.title 1975
							.content
								.desc Công ty được quốc hữu hóa và đổi tên thành Nhà máy Bột giặt Đồng Nai.
					.swiper-slide
						.slide-inner
							.title 05/1993
							.content
								.desc Công ty Bột giặt NET được thành lập theo Quyết định số 303-QĐ/TCNS ngày 25/5/1993 của Bộ Công nghiệp nặng.
					.swiper-slide
						.slide-inner
							.title 1994
							.content
								.desc Công ty đầu tư đổi mới công nghệ, kỹ thuật và áp dụng cơ chế quản lý mới, phù hợp tình hình phát triển thực tế. Lần đầu tiên sản phẩm bột giặt White NET được đưa ra thị trường Việt Nam.
					.swiper-slide
						.slide-inner
							.title 1995
							.content
								.desc NETCO vinh dự được Chủ tịch nước CHXHCN Việt Nam trao tặng huân chương lao động hạng ba.
					.swiper-slide
						.slide-inner
							.title 07/2003
							.content
								.desc Chuyển đổi hình thức sang công ty cổ phần, nhà nước giữa 51% vốn.
			.swiper-pagination
			.swiper-button-next
			.swiper-button-prev