section.kv-section.detail-page
	.container
		.row
			.col-lg-9
				.title NETCO: Doanh nghiệp có tiềm năng phát triển mạnh
				.bottom-wrapper
					time 20/02/2020
					.social
						.face
							a(href="")
								em.fab.fa-facebook-square
								|Share
						.twitter
							a(href="")
								em.fab.fa-twitter
								|Tweet
				.full-content
					p Công ty Cổ phần Bột giặt NET (NETCO) - tiền thân là Việt Nam Tân hóa phẩm Công ty - được xây dựng và đi vào hoạt động từ năm 1972. Năm 2003, Công ty chuyển đổi hoạt động sang mô hình công ty cổ phần với vốn điều lệ ban đầu 22 tỷ đồng. Đến tháng 01/2010, vốn điều lệ của NETCO đã tăng lên 45 tỷ đồng, trong đó Tập đoàn Hóa chất Việt Nam nắm giữ 51%.

					p Hiện tại, các sản phẩm chính của NETCO bao gồm: bột giặt, nước rửa chén, nước lau sàn nhà và nước xả vải, trong đó bột giặt là nhóm sản phẩm chủ lực và truyền thống của Công ty, luôn chiếm tỷ trọng lớn (khoảng 80 -83%) trong cơ cấu doanh thu. Bên cạnh đó, sản phẩm nước rửa chén là dòng hàng góp phần đảm bảo mức độ tăng trưởng ổn định với tỷ lệ đóng góp đạt trên 10%.

					p Ngoài hai sản phẩm chủ lực trên, các sản phẩm nước lau sàn nhà, nước xả vải cũng là thế mạnh của Công ty. Do lợi thế là một công ty chuyên sản xuất chất tẩy rửa, những sản phẩm khác của Công ty trong lĩnh vực này cũng đạt chất lượng cao, được khách hàng trong và ngoài nước ủng hộ, doanh thu tăng trưởng qua các năm. Tuy nhiên, việc tiếp cận thị trường đối với mặt hàng nước rửa chén và nước xả vải còn hạn chế so với các mặt hàng chủ lực, do đó NETCO tiếp tục đẩy mạnh hoạt động quảng bá, xây dựng hệ thống phân phối, đại lý rải khắp các khu vực miền Đông, miền Tây Nam Bộ và ký hợp đồng với các siêu thị tại Thành phố Hồ Chí Minh... Mục tiêu của NETCO là phát triển một cách mạnh mẽ và vững vàng trong quá trình hội nhập để khẳng định thương hiệu và trở thành một trong những nhà sản xuất chất tẩy rửa có chất lượng tốt nhất và chi phí sản xuất thấp nhất tại Đông Nam á.
					p
						img(src="./assets/news/detail.png" alt="")
					p Bên cạnh thành công đạt được trên thị trường trong nước, NETCO cũng luôn là một trong những đơn vị dẫn đầu về doanh số xuất khẩu trong Tập đoàn Hóa chất Việt Nam. Các thị trường xuất khẩu lớn của Công ty là Nhật Bản, Phillipin, ôxtrâylia, Cuba, Đài Loan, Cămpuchia và một số nước trong khu vực Đông Nam á cũng như châu Mỹ La tinh. Công ty đã đạt được các thỏa thuận khung 05 năm (2007- 2012) với các đối tác tại thị trường Nhật Bản về cung cấp không giới hạn các mặt hàng chất tẩy rửa. Thêm vào đó, Công ty cũng đạt được thỏa thuận khung 10 năm (2009-2019) với đối tác Phillipin về việc cung cấp không giới hạn các mặt hàng như bột giặt, nước rửa chén, nước xả vải. Các sản phẩm của Công ty đặc biệt thích hợp với khí hậu, môi trường và đặc điểm riêng của từng quốc gia về mặt hương thơm, nhãn hàng và nguyên liệu tẩy trắng. Một số sản phẩm nổi bật là: bột giặt award dùng cho máy giặt được sản xuất theo tiêu chuẩn Nhật Bản, bột giặt Wave và OZ có thể dùng cho cả máy giặt và giặt tay, được sản xuất theo tiêu chuẩn châu Âu, đảm bảo vệ sinh môi trường. Ngoài ra, NETCO duy trì vai trò là đối tác chiến lược của tập đoàn unilever trong sản xuất các sản phẩm mang thương hiệu quốc tế như OMO, SURF, SUNLIGHT, VIM và một số nhãn hàng khác để xuất khẩu sang New Zealand, Thái Lan và Ấn Độ.

					p Có được những thành quả trên là do trong nhiều năm qua Hội đồng quản trị của NETCO đã xác định chiến lược phát triển đúng đắn, đó là: trở thành nhà sản xuất chất tẩy rửa có chất lượng tốt nhất và chi phí sản xuất thấp nhất tại Đông Nam á; đồng thời mở rộng hợp tác với các nhà phân phối trong nước và các công ty quốc tế để cung ứng các sản phẩm tẩy rửa không chỉ cho người tiêu dùng Việt Nam mà còn cho thị trường châu Á, châu Âu và các châu lục khác.

					p Để thực hiện chiến lược này, từ năm 1999 NETCO bắt đầu hợp tác gia công sản phẩm chất tẩy rửa (bột giặt, nước rửa chén, nước lau sàn nhà) cho Công ty Liên doanh unilever ở cả 2 nhà máy Biên Hòa và Hà Nội. Việc hợp tác toàn diện với unilever trên tất cả các lĩnh vực: kỹ thuật, sản xuất, công nghệ, đào tạo huấn luyện đã mang lại cho NETCO nhiều lợi thế. Qua hơn 10 năm hợp tác, đến nay NETCO đã có một đội ngũ cán bộ khoa học kỹ thuật và sản xuất có trình độ ngang tầm với yêu cầu trong khu vực. Việc thực hiện liên tục các chương trình TPM, Kaizen (của Nhật Bản) đã giúp NETCO tiết kiệm nhiều chi phí và nâng cao năng suất lao động. Chính điều này đã mang lại cho NETCO lợi thế cạnh tranh về giá thành sản xuất, góp phần gia tăng đơn hàng và mang lại lợi nhuận cao.
			.col-lg-3
				.other-title tin tức khác
				.other-news
					a(href='chi-tiet-khuyen-mai.html' title='')
						.item
							.wrapper
								img(src='./assets/news/detail-3.png' alt='')
							.text
								.caption NETCO tung ra sản phẩm mới nhân dịp 20/10 dành cho phụ nữ Việt Nam
								time 20.02.2020

					a(href='chi-tiet-khuyen-mai.html' title='')
						.item
							.wrapper
								img(src='./assets/news/detail-3.png' alt='')
							.text
								.caption  Một số thông tin về tăng năng lực sản xuất tại công ty cổ phần Bột Giặt NET
								time 20.02.2020

					a(href='chi-tiet-khuyen-mai.html' title='')
						.item
							.wrapper
								img(src='./assets/news/detail-3.png' alt='')
							.text
								.caption Điều kỳ diệu gì tặng các bé nhân dịp lễ quốc tế thiếu nhi 1/6 này?
								time 20.02.2020






