section.kv-section.recuirement-detail
	.container
		.row
			.col-lg-9.col-md-12
				h1.title Chuyên viên phát triển sản phẩm
				.section-sub
					span.sub-date 20/09/2020
					.social
						a(href="#").social-item.face
							<i class="fab fa-facebook-square"></i>
							span Share
						a(href="#").social-item.twitter
							<i class="fab fa-twitter"></i>
							span Tweet
				table
					tr
						td Nơi làm việc
						td Tp.HCM
					tr
						td Cấp bậc
						td Chuyên viên
					tr
						td Hình thức
						td Nhân viên chính thức
					tr
						td Bằng cấp
						td Đại học
					tr
						td Kinh nghiệm
						td 5 năm
					tr
						td Mức lương
						td Lương thỏa thuận
					tr
						td Ngành nghề
						td Quảng cáo / Khuyến mãi / Đối ngoại
					tr
						td Hạn chót nộp hồ sơ
						td.danger 30/09/2020
				.list-content
					.item
						.content-title Kinh nghiệm/Kỹ năng chi tiết
						ul
							li 
								p Giới tính: Nam/ Nữ
							li 
								p Độ tuổi: Từ 23 tuổi trở lên
							li 
								p Sức khoẻ: Tốt
							li 
								p Sức khoẻ: Tốt
							li 
								p Chuyên môn: Tốt nghiệp Đại học trở lên các chpuyên ngành Kinh tế, Ngoại ngữ...
							li 
								p KỸ NĂNG/KINH NGHIỆM
							li 
								p Tiếng Anh giao tiếp tốt (IELTS ít nhất 6.5 hoặc TOEIC 800 hoặc Chứng chỉ B2)
							li 
								p Năng động, sáng tạo, ham học hỏi, làm việc độc lập, làm việc theo nhóm và giao tiếp tốt.
							li 
								p Có kỹ năng tự nghiên cứu, tìm kiếm thông tin, phân tích và đánh giá tốt.
							li 
								p Có hiểu biết về XNK là một lợi thế lớn.
							li 
								p Sử dụng thành thảo tin học văn phòng (Word,  Excel, MS Project, Autocad).
					.item
						.content-title mô tả chi tiết công việc
						ul
							li 
								p Giới tính: Nam/ Nữ
							li 
								p Độ tuổi: Từ 23 tuổi trở lên
							li 
								p Sức khoẻ: Tốt
							li 
								p Sức khoẻ: Tốt
							li 
								p Chuyên môn: Tốt nghiệp Đại học trở lên các chpuyên ngành Kinh tế, Ngoại ngữ...
							li 
								p KỸ NĂNG/KINH NGHIỆM
							li 
								p Tiếng Anh giao tiếp tốt (IELTS ít nhất 6.5 hoặc TOEIC 800 hoặc Chứng chỉ B2)
							li 
								p Năng động, sáng tạo, ham học hỏi, làm việc độc lập, làm việc theo nhóm và giao tiếp tốt.
							li 
								p Có kỹ năng tự nghiên cứu, tìm kiếm thông tin, phân tích và đánh giá tốt.
							li 
								p Có hiểu biết về XNK là một lợi thế lớn.
							li 
								p Sử dụng thành thảo tin học văn phòng (Word,  Excel, MS Project, Autocad).
					.item
						.content-title thông tin liên hệ
						ul
							li 
								p Công ty cổ phần Bột Giặt NET -  Đường D4, KCN Lộc An - Bình Sơn, Huyện Long Thành, Tỉnh Đồng Nai, Việt Nam
							li
								p
									strong Liên hệ nộp hồ sơ:  
									|Ứng viên quan tâm có thể nộp hồ sơ trực tiếp tại Công ty hoặc email về địa chỉ: 
									a(href="") botgiatnet@netcovn.com.vn.

				.section-btn
					a.btn-item.btn-red(href="#") ứng tuyển ngay
					a.btn-item.btn-blue(href="#") 
						<i class="fas fa-download"></i>
						span tải mẫu hồ sơ
			.col-lg-3.col-sm-12
				.recuirement-other
					.recuirement-header
						.title Tuyển dụng khác
					-for(i=0;i<5;i++)
						.recuirement-body
							a(href="#") Nhân viên phát triển thị
							span.content-sub 20/07/2020



