section.kv-section.home-product(setBackground='../assets/i1-bg.png')
	.container
		.section-image
			img(src="./assets/i1-bg.png", alt="")
		article
			.kv-title.animation-right
				p sản phẩm
			.desc.animation-top NETCO chọn con đường đến với người tiêu dùng bằng tấm lòng của một nhà sản xuất chân chính, luôn giữ chữ “TÍN” với khách hàng qua “CHẤT LƯỢNG & GIÁ CẢ”. NETCO là đối tác chiến lược của tập đoàn đa quốc gia nổi tiếng Unilever.
			.row.category-list.animation-left
				a(href="")
					.item
						.img
							img(src="./assets/home/pro-category-1.png", alt="")
						.text
							.title sản phẩm nội địa
							span.lnr.lnr-arrow-right
				a(href="")
					.item
						.img
							img(src="../assets/home/pro-category-2.png", alt="")
						.text
							.title sản phẩm cung ứng
							span.lnr.lnr-arrow-right