section.kv-section.home-xuatkhau(setBackground ='../assets/i2-bg.png')
	.container
		.section-image
			img(src="./assets/i2-bg.png", alt="")
		article
			.kv-title.animation-top.text-uppercase
				p xuất khẩu
			.desc.animation-right Chúng tôi sẵn sàng hợp tác với các đối tác trong và ngoài nước để sản xuất và phân phối các sản phẩm chất tẩy rửa trên cơ sở lợi ích của cả hai phía.
			.list-item.animation-bottom
				.item
					.title thị trường
					.number
						.counter(data-count='20') 0
						span +
					.brife-content quốc gia xuất khẩu sản phẩm
				.item
					.title công suất
					.number
						.counter(data-count='180') 0
						span .000
					.brife-content tấn bột giặt/ năm
				.item
					.title công suất
					.number
						.counter(data-count='90') 0
						span .000
					.brife-content tấn chất tẩy rửa lỏng/ năm