section.kv-section.home-codong(setBackground='../assets/i3-bg.png')
	.container
		article
			.kv-title.animation-left
				h3.while quan hệ cổ đông
			.desc.while.animation-right Sản xuất và kinh doanh chất tẩy rửa không chỉ đơn thuần là công việc mà còn là niềm đam mê của NETCO. Chúng tôi tôn trọng và đánh giá cao mọi sự cộng tác chân thành của các đối tác.
			.list-item.animation-left
				.item
					.title Thông tin Cổ đông
					span.lnr.lnr-arrow-right
				.item
					.title báo cáo 
						br 
						|tài chính
					span.lnr.lnr-arrow-right
				.item
					.title báo cáo thường niên
					span.lnr.lnr-arrow-right