section.kv-section.home-footer
	.container
		.row
			.col-lg-5
				.contact-left-col
					.footer-title
						h1 CÔNG TY CỔ PHẦN BỘT GIẶT NET
					.contact-info-list
						.item
							.title
								h2 văn phòng chính
							ul 
								li
									em.material-icons location_on
									.content
										p Đường D4, KCN Lộc An - Bình Sơn, Xã Bình Sơn, Huyện Long Thành, Tỉnh Đồng Nai
								li
									em.material-icons call
									.content
										p Điện thoại: (+84) 0251.3682102 - 0251.3682103
								li
									em.material-icons print
									.content
										p Fax: (+84) 251. 3682106
						.item
							.title
								h2 nhà máy tại hà nội
							ul 
								li
									em.material-icons location_on
									.content
										p Đường D4, KCN Lộc An - Bình Sơn, Xã Bình Sơn, Huyện Long Thành, Tỉnh Đồng Nai
								li
									em.material-icons call
									.content
										p Điện thoại: (+84) 0251.3682102 - 0251.3682103
								li
									em.material-icons print
									.content
										p Fax: (+84) 251. 3682106
						.item
							.title
								h2 chi nhánh tại tp.hồ chí minh
							ul 
								li
									em.material-icons location_on
									.content
										p Đường D4, KCN Lộc An - Bình Sơn, Xã Bình Sơn, Huyện Long Thành, Tỉnh Đồng Nai
								li
									em.material-icons call
									.content
										p Điện thoại: (+84) 0251.3682102 - 0251.3682103
								li
									em.material-icons print
									.content
										p Fax: (+84) 251. 3682106

			.col-lg-7
				.contact-right-col
					h3.title liên hệ
					.contact-form.form-row
						.form-group
							input(type="text" placeholder="Họ tên")
						.form-group
							input(type="text" placeholder="Điện thoại")
						.form-group
							input(type="text" placeholder="Email")
						.form-group
							input(type="text" placeholder="Tiêu đề")
						.form-group.qparagraph
							textarea(type="text" placeholder="Nội dung")
						.form-group.frm-btnwrap
							.frm-btn
								input.btn.btn-default.frm-btn-submit(type='submit' name="" value='Gửi')
								span.lnr.lnr-arrow-right
					.coppy-right
						.coppy
							p Copyright © 2020 NETCO. All right reserved. Thiết kế website bởi Cánh Cam.
							.list-footer
								a(href="") Pháp lý website
								a(href="") Sitemap
						ul.social
							li
								a(href="")
									em.fab.fa-twitter
							li
								a(href="")
									em.fab.fa-facebook-f
							li
								a(href="")
									em.fab.fa-youtube
							li
								a(href="")
									em.fab.fa-instagram

