section.kv-section.list-brand-page
	.container
		.caption
			.title Sản phẩm nội địa
		.brand-list.row
			.col-lg-3.col-left
				.brand-item
					a(href="nhan-hieu-danh-sach.html")
						.img
							img(src="./assets/NhanHang/z-1.png" alt="")
						.title bột giặt
			.col-lg-9.col-right
				.single-swiper
					.swiper-container.product-brand
						.swiper-wrapper
							-for(i=1; i<4; i++)
								.swiper-slide
									.item-pro
										.img
											a(href="nhan-hieu-chi-tiet.html")
												img(src="./assets/NhanHang/pro-"+i+".png" alt="")
										.content
											.product-title
												a(href="nhan-hieu-chi-tiet.html") Nước rửa chén đậm đặc NET hương chanh 4kg
											.price-wrapper
												.current 28.000 đ
					.swiper-button-next
		.brand-list.row
			.col-lg-3.col-left
				.brand-item
					a(href="nhan-hieu-danh-sach.html")
						.img
							img(src="./assets/NhanHang/z-2.png" alt="")
						.title bột giặt
			.col-lg-9.col-right
				.single-swiper
					.swiper-container.product-brand
						.swiper-wrapper
							-for(i=4; i<7; i++)
								.swiper-slide
									.item-pro
										.img
											a(href="nhan-hieu-chi-tiet.html")
												img(src="./assets/NhanHang/pro-"+i+".png" alt="")
										.content
											.product-title
												a(href="nhan-hieu-chi-tiet.html") Nước rửa chén đậm đặc NET hương chanh 4kg
											.price-wrapper
												.current 28.000 đ
					.swiper-button-prev
		.brand-list.row
			.col-lg-3.col-left
				.brand-item
					a(href="nhan-hieu-danh-sach.html")
						.img
							img(src="./assets/NhanHang/z-3.png" alt="")
						.title bột giặt
			.col-lg-9.col-right
				.row
					.col-lg-3
						.item-pro
							.img
								a(href="nhan-hieu-chi-tiet.html")
									img(src="./assets/NhanHang/pro-"+i+".png" alt="")
							.content
								.product-title
									a(href="nhan-hieu-chi-tiet.html") Nước rửa chén đậm đặc NET hương chanh 4kg
								.price-wrapper
									.current 28.000 đ
					.col-lg-3
						.item-pro
							.img
								a(href="nhan-hieu-chi-tiet.html")
									img(src="./assets/NhanHang/pro-"+i+".png" alt="")
							.content
								.product-title
									a(href="nhan-hieu-chi-tiet.html") Nước rửa chén đậm đặc NET hương chanh 4kg
								.price-wrapper
									.current 28.000 đ
		.brand-list.row
			.col-lg-3.col-left
				.brand-item
					a(href="nhan-hieu-danh-sach.html")
						.img
							img(src="./assets/NhanHang/z-4.png" alt="")
						.title bột giặt
			.col-lg-9.col-right
				.single-swiper
					.swiper-container.product-brand
						.swiper-wrapper
							-for(i=9; i<12; i++)
								.swiper-slide
									.item-pro
										.img
											a(href="nhan-hieu-chi-tiet.html")
												img(src="./assets/NhanHang/pro-"+i+".png" alt="")
										.content
											.product-title
												a(href="nhan-hieu-chi-tiet.html") Nước rửa chén đậm đặc NET hương chanh 4kg
											.price-wrapper
												.current 28.000 đ
					.swiper-button-prev
		.brand-list.row
			.col-lg-3.col-left
				.brand-item
					a(href="nhan-hieu-danh-sach.html")
						.img
							img(src="./assets/NhanHang/z-5.png" alt="")
						.title bột giặt
			.col-lg-9.col-right
				.single-swiper
					.swiper-container.product-brand
						.swiper-wrapper
							-for(i=12; i<15; i++)
								.swiper-slide
									.item-pro
										.img
											a(href="nhan-hieu-chi-tiet.html")
												img(src="./assets/NhanHang/pro-"+i+".png" alt="")
										.content
											.product-title
												a(href="nhan-hieu-chi-tiet.html") Nước rửa chén đậm đặc NET hương chanh 4kg
											.price-wrapper
												.current 28.000 đ
					.swiper-button-next
		.brand-list.row
			.col-lg-3.col-left
				.brand-item
					a(href="nhan-hieu-danh-sach.html")
						.img
							img(src="./assets/NhanHang/z-6.png" alt="")
						.title bột giặt
			.col-lg-9.col-right
				.row
					.col-lg-3
						.item-pro
							.img
								a(href="nhan-hieu-chi-tiet.html")
									img(src="./assets/NhanHang/pro-"+i+".png" alt="")
							.content
								.product-title
									a(href="nhan-hieu-chi-tiet.html") Nước rửa chén đậm đặc NET hương chanh 4kg
								.price-wrapper
									.current 28.000 đ
					.col-lg-3
						.item-pro
							.img
								a(href="nhan-hieu-chi-tiet.html")
									img(src="./assets/NhanHang/pro-"+i+".png" alt="")
							.content
								.product-title
									a(href="nhan-hieu-chi-tiet.html") Nước rửa chén đậm đặc NET hương chanh 4kg
								.price-wrapper
									.current 28.000 đ




















