section.kv-section.recuirement-detail
	.container
		.row
			.col-lg-9.col-md-12
				h1.title Chuyên viên phát triển sản phẩm
				.section-sub
					span.sub-date 20/09/2020
					.social
						a(href="#").social-item.face
							<i class="fab fa-facebook-square"></i>
							span Share
						a(href="#").social-item.twitter
							<i class="fab fa-twitter"></i>
							span Tweet
				table
					tr
					tr
						td Nơi làm việc
						td Tp.HCM
					tr
						td Cấp bậc
						td Chuyên viên
					tr
						td Hình thức
						td Nhân viên chính thức
					tr
						td Bằng cấp
						td Đại học
					tr
						td Kinh nghiệm
						td 5 năm
					tr
						td Mức lương
						td Lương thỏa thuận
					tr
						td Ngành nghề
						td Quảng cáo / Khuyến mãi / Đối ngoại
					tr
						td Hạn chót nộp hồ sơ
						td.danger 30/09/2020
				ul
					h2.title.title-2 Kinh nghiệm/Kỹ năng chi tiết
					li 
						span.material-icons fiber_manual_record
						span Giới tính: Nam/ Nữ
					li 
						span.material-icons fiber_manual_record
						span Độ tuổi: Từ 23 tuổi trở lên
					li 
						span.material-icons fiber_manual_record
						span Sức khoẻ: Tốt
					li 
						span.material-icons fiber_manual_record
						span Sức khoẻ: Tốt
					li 
						span.material-icons fiber_manual_record
						span Chuyên môn: Tốt nghiệp Đại học trở lên các chuyên ngành Kinh tế, Ngoại ngữ...
					li 
						span.material-icons fiber_manual_record
						span KỸ NĂNG/KINH NGHIỆM
					li 
						span.material-icons fiber_manual_record
						span Tiếng Anh giao tiếp tốt (IELTS ít nhất 6.5 hoặc TOEIC 800 hoặc Chứng chỉ B2)
					li 
						span.material-icons fiber_manual_record
						span Năng động, sáng tạo, ham học hỏi, làm việc độc lập, làm việc theo nhóm và giao tiếp tốt.
					li 
						span.material-icons fiber_manual_record
						span Có kỹ năng tự nghiên cứu, tìm kiếm thông tin, phân tích và đánh giá tốt.
					li 
						span.material-icons fiber_manual_record
						span Có hiểu biết về XNK là một lợi thế lớn.
					li 
						span.material-icons fiber_manual_record
						span Sử dụng thành thảo tin học văn phòng (Word,  Excel, MS Project, Autocad).
				ul
					h3.title.title-2 Mô tả chi tiết công việc
					li 
						span.material-icons fiber_manual_record
						span Phụ trách sản phẩm mảng thiết bị nhà bếp nhập khẩu Châu Âu. Nghiên cứu và lập kế hoạch phát triển sản phẩm tại thị trường Việt Nam (Kênh dự án + Bán lẻ), quản lý và xây dựng quan hệ với đối tác và đại diện thương hiệu.
					li 
						span.material-icons fiber_manual_record
						span Nghiên cứu đặc điểm sản phẩm, công nghệ, thương hiệu, thị trường,…
					li 
						span.material-icons fiber_manual_record
						span Làm việc trực tiếp với Nhà cung cấp về các chiến lược phát triển sản phẩm tại Việt Nam bao gồm: Chính sách giá, Kênh bán hàng, chiến lược Marketing, Thương mại điện tử, …
					li 
						span.material-icons fiber_manual_record
						span Thiết lập chính sách giá bán lẻ và dự án cho sản phẩm thiết bị Bếp, tiến hành lập bảng báo giá cho Bộ phận Kinh doanh.
					li 
						span.material-icons fiber_manual_record
						span Làm việc trực tiếp với Phòng Kinh doanh để tiếp nhận thông tin bán hàng dự án và bán lẻ, follow dự án, update thông tin và tiến độ với Hãng. Trao đổi thông tin giữa các Bên đối tác về chiến lược bán hàng.
					li 
						span.material-icons fiber_manual_record
						span Cung cấp các thông tin cần thiết về sản phẩm, kỹ thuật, chính sách bảo hành,… cho bộ phận Kinh doanh và các bên liên quan.
				ul
					h3.title.title-2 thông tin liên hệ
					li 
						span.material-icons fiber_manual_record
						span Công ty cổ phần Bột Giặt NET -  Đường D4, KCN Lộc An - Bình Sơn, Huyện Long Thành, Tỉnh Đồng Nai, Việt Nam
					li 
						span.material-icons fiber_manual_record
						a(href="#") Liên hệ nộp hồ sơ: 
						span Ứng viên quan tâm có thể nộp hồ sơ trực tiếp tại Công ty hoặc email về địa chỉ:
						a.link-blue(href="#") botgiatnet@netcovn.com.vn.
				.section-btn
					a.btn-item.btn-red(href="#") ứng tuyển ngay
					a.btn-item.btn-blue(href="#") 
						<i class="fas fa-download"></i>
						span tải mẫu hồ sơ
			.col-lg-3.col-sm-12
				.recuirement-other
					.recuirement-header
						h4.title Tuyển dụng khác
					-for(i=0;i<5;i++)
						.recuirement-body
							a(href="#").content Nhân viên phát triển thị
							span.content-sub 20/07/2020



