section.kv-section.contact
	.container
		.text-center
			h1.section-title Công ty cổ phần bột giặt NET
		.row
			.col-lg-4.col-sm-12
				ul.contact-item
					h3.section-title văn phòng chính
					li.contact-info
						span.material-icons home
						span.content Đường D4, KCN Lộc An - Bình Sơn, Xã Bình Sơn, Huyện Long Thành, Tỉnh Đồng Nai
					li.contact-info
						span.material-icons call
						a(href="tel:+02513682103").content (+84)0251 3682102 - 0251 3682103
					li.contact-info
						span.material-icons local_printshop
						a(href="tel:+02513682103").content (+84) 251. 3682106
					li.contact-info
						span.material-icons mail
						a(href="tel:+02513682103").content.blue info@http://www.netcovn.com.vn/
			.col-lg-4.col-sm-12
				ul.contact-item
					h3.section-title NHÀ MÁY TẠI HÀ NỘI
					li.contact-info
						span.material-icons home
						span.content Km số1 – Đường Phan Trọng Tuệ, Xã Tam Hiệp, Huyện Thanh Trì, Hà Nội
					li.contact-info
						span.material-icons call
						a(href="tel:+02513682103").content (+84) 024.6883505
					li.contact-info
						span.material-icons local_printshop
						a(href="tel:+02513682103").content (+84) 024.6883505
					li.contact-info
						span.material-icons mail
						a(href="tel:+02513682103").content.blue info@http://www.netcovn.com.vn/
			.col-lg-4.col-sm-12
				ul.contact-item
					h3.section-title CHI NHÁNH TẠI TP. HỒ CHÍ MINH
					li.contact-info
						span.material-icons home
						span.content 617 - 629 Bến Bình Đông, Phường 13, Q.8, TP. Hồ Chí Minh
					li.contact-info
						span.material-icons call
						a(href="tel:+02513682103").content (+84) 028. 38549354
					li.contact-info
						span.material-icons local_printshop
						a(href="tel:+02513682103").content (+84) 028. 38549354
					li.contact-info
						span.material-icons mail
						a(href="tel:+02513682103").content.blue info@http://www.netcovn.com.vn/
					

