.zone-nav
	.box-category
		p Danh mục
		em.material-icons expand_more
	ul
		li.active
			a(href="tin-tuc-ds.html") hoạt động công ty
		li
			a(href="tin-tuc-ds.html") tin thị trường
		li
			a(href="video.html") video clips
		li
			a(href="thu-vien-anh.html") thư viện ảnh
section.kv-section.ct-codong
	.container
		.caption
			.title Báo cáo tài chính
		.option
			.span.sub Sắp xếp theo năm
			.dropdown.show
				a#dropdownMenuLink.dropdown-toggle(href='#' role='button' data-toggle='dropdown')
					| Tất cả
				.dropdown-menu
					a.dropdown-item(href='#') 2019
					a.dropdown-item(href='#') 2018
					a.dropdown-item(href='#') 2017

		table
			tr
				td stt
				td tài liệu
				td ngày đăng
				td xem
				td tải về
			-for(i=0;i<15;i++)
				tr.section-hover
					td
						a.link-detail(href="#") 01
					td
						a.link-detail(href="#") Báo cáo tài chính Công ty Mẹ Bán niên soát xét 2019 (USD)
					td
						a.link-detail(href="#") 29/09/2020
					td
						a.see-detail(href="#") Xem chi tiết
					td
						a.download(href="#") 
							span.text Tải về
							span.material-icons vertical_align_bottom
		.list-mobile.row
			-for(i=0;i<6;i++)
				.col-md-6
					.list-item
						h3.title.lcl.lcl-2
							a(href="#") Báo cáo tài chính Công ty Mẹ Bán niên soát xét 2019 (USD)
						p Ngày đăng: 29/09/2020
						a.btn-mob(href="#") Xem chi tiết
						a.btn-mob(href="#") 
							span.text Tải về
							span.material-icons vertical_align_bottom
		ul.pagination
			li.active
				a(href="#") 1
			li
				a(href="#") 2
			li
				a(href="#") 3



