section.kv-section.list-codong
	.container
		.row
			-for(i=0;i<8;i++)
				.col-lg-4.col-md-6.col-sm-6.col-12.distance
					a.list-item.zoom-out(href="#")
						img(src="./assets/list-co-dong/1.png", alt="")
						.list-content
							h2.section-title Báo cáo tài chính
							.list-seemore
								span Xem thêm
								span.lnr.lnr-arrow-right