.kv-banner 
	position: relative
	margin-left: auto
	width: 100%
	cursor: pointer
	.Module
		height: 100%
		.ModuleContent
			height: 100%
			div
				height: 100%
	.swiper-inner 
		width: 100%
		height: 100vh
		position: relative
		img 
			width: 100%
			height: 100%
			object-fit: cover
			object-position: center
		.content 
			position: absolute
			width: 100%
			top: 15%
			left: 0
			z-index: 10
			.desc 
				max-width: 570px
				font-size: 40px
				color: #ffffff
				font-weight: 800
				padding-bottom: 30px
				text-transform: uppercase
			@media screen and ( max-width: 1366px)
				.desc
					max-width: 450px
					font-size: 30/16*1rem
			@media screen and ( max-width: 1280.98px)
				.desc
					max-width: 430px
			@media screen and ( max-width: 1199.98px)
				top: 30%
				.desc
					padding-bottom: 15px
		&.content-center
			.content
				top: 30%
				.desc
					max-width: 810px
					margin: 0 auto
					text-align: center
		@media screen and ( max-width:  991.98px)
			height: 50vh
			.content
				.desc
					font-size: 18/16*1rem
		@media screen and ( max-width:  575.98px)
			.content
				.desc
					font-size: 1rem