section.kv-banner#home-banner
    .swiper-container.slide-content
        .swiper-wrapper
            .swiper-slide
                .swiper-inner
                    img(src="./assets/banner/b-1.png" alt="")
                    .content
                        .container
                            .desc 60 năm kết tụ tinh hoa, sản xuất trên dây chuyền hiện đại
                            a.btn.btn-banner(href="") xem sản phẩm
                                span.lnr.lnr-arrow-right
            .swiper-slide
                .swiper-inner
                    img(src="./assets/banner/b-2.png" alt="")
                    .content
                        .container
                            .desc Mang đến người tiêu dùng Việt những sản phẩm ưu việt nhất
                            a.btn.btn-banner(href="") xem sản phẩm
                                span.lnr.lnr-arrow-right
            .swiper-slide
                .swiper-inner.content-center
                    img(src="./assets/banner/b-3.png" alt="")
                    .content
                        .container
                            .desc 60 năm kết tụ tinh hoa, sản xuất trên dây chuyền hiện đại
            .swiper-slide
                .swiper-inner
                    img(src="./assets/banner/b-4.png" alt="")
                    .content
                        .container
                            .desc Mang đến người tiêu dùng Việt những sản phẩm ưu việt nhất
                            a.btn.btn-banner(href="") xem sản phẩm
                                span.lnr.lnr-arrow-right
