section#page-banner
	.banner__pages
		img(src="assets/banner/pagebanner.png", alt="")
		.content
			h1.title Viên Uống DHC
			h2.sub-title Bổ Sung Vitamin C 120 Viên
			a.btn.btn-more(href="") Mua ngay
				em.material-icons arrow_forward
