section.kv-section.investor
	.container
		.row
			.col-lg-3.col-md-6.col-sm-12
				.investor-item
					.img
						img(src="./assets/nha-dau-tu/1.jpg", alt="")
					.content Hoạt động năm 1968
					.overplay
			.col-lg-3.col-md-6.col-sm-12
				.investor-item
					.img
						img(src="./assets/nha-dau-tu/2.jpg", alt="")
					.content Top 100 thương hiệu - Nhãn hiệu Uy tín
					.overplay
			.col-lg-3.col-md-6.col-sm-12
				.investor-item
					.img
						img(src="./assets/nha-dau-tu/3.jpg", alt="")
					.content 7 danh mục sản phẩm
					.overplay
			.col-lg-3.col-md-6.col-sm-12
				.investor-item
					.img
						img(src="./assets/nha-dau-tu/4.png", alt="")
					.content sản phẩm có ở nhiều quốc gia và châu lục
					.overplay
section.kv-section.investor-report
	.container
		.row
			.col-lg-6.col-md-12
				.reports
					h2.title Báo cáo thường niên
					-for(i=0;i<8;i++)
						a.report-item(href="#")
							span.material-icons get_app
							span.content Báo cáo tình hình quản trị công ty niêm yết 6 tháng đầu năm 2020
					a.btn-seemore(href="#")
						span.text xem tất cả
						span.lnr.lnr-arrow-right
			.col-lg-6.col-md-12
				.img
					img(src="./assets/nha-dau-tu/5.png", alt="")

